<h2 class="home-page__title">We continue to learn JavaScript. Modules 6-11.</h2>
<ul class="themes-list">
  <li class="themes-list__item">
    <a
      class="themes-list__link"
      href="https://textbook.edu.goit.global/javascript-yk5evp/v2/uk/docs/lesson-11/dom"
      target="_blank"
    >
      Модуль 6 - Заняття 11 - DOM
    </a>
  </li>
  <li class="themes-list__item">
    <a
      class="themes-list__link"
      href="https://textbook.edu.goit.global/javascript-yk5evp/v2/uk/docs/lesson-12/events"
      target="_blank"
    >
      Модуль 6 - Заняття 12 - Події
    </a>
  </li>
</ul>
